root{
--primarybrand-color-iris:#4D5AE5;
--pressedstate-color-ocean:#404BBF;
--dark-color-navy:#2E2F42;
--success-color-green:#31D0AA;
--text-color-slate:#434455;
--subtitletext-color-ligntslate:#8E8F99;
--accent-color-cornflower:#E7E9FC;
--light-color-cloud:#F4F4FD;
--modaloverlay-color-navybluemodal:#2E2F42;
--herobackground-color-gray:#2E2F42;
--whitebackground-color-wtite:#FFFFFF;
--modalbackground-color-modal:#FCFCFC;
}

*,
::before,
::after {
   margin: 0;
   padding: 0;
}

body {
    background-color: var(--whitebackground-color-wtite, #FFFFFF);
    font-family: Roboto, sans-serif;
    color: var(--text-color-slate, #434455);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

 address {
    font-style: normal;
 }

 a {
    text-decoration: none;
 }

 img {
   display: block;
 }

 ul {
   list-style-type: none;
  }
 
 nav, address{
      display: flex;
   }

h2 {
   color: var(--modaloverlay-color-navybluemodal, #2E2F42);
   text-align: center;
   font-size: 36px;
   font-weight: 700;
   line-height: 1.11;
   letter-spacing: 0.02em;
   text-transform: capitalize;
}

h3 {
   color: var(--modaloverlay-color-navybluemodal, #2E2F42);
   font-size: 20px;
   font-weight: 500;
   line-height: 1.2;
   letter-spacing: 0.02em;
}

 .container {
   display: flex;
   width: 1158px;
   padding-left: 15px;
   padding-right: 15px;
   margin-left: 140px;
   margin-right: 140px;
   box-sizing: border-box;
 }

 .header-block {
   width: 1440px;
   height: 72px;
   flex-shrink: 0;
   border-bottom: 1px solid #e7e9fc;
 }
 
 .nav-panel {
   display: flex;
   align-items: center;
 }

  .nav-menu {
   display: flex;
   gap: 40px;
   padding-left: 76px;
 }
 
 .header-logo {
   display: inline-flex;
   color: var(--primarybrand-color-iris, #4D5AE5);
   font-family: Raleway, sans-serif;
   font-size: 18px;
   font-weight: 700;
   line-height: 1.17;
   align-items: baseline;
   letter-spacing: 0.03em;
   text-transform: uppercase;
   padding-top: 24px;
   padding-bottom: 24px;
  }

 .header-span {
   color: var(--dark-color-navy, #2E2F42);
   font-family: Raleway, sans-serif;
   font-size: 18px;
   font-weight: 700;
   line-height: 1.17;
   letter-spacing: 0.03em;
   text-transform: uppercase;
  }

 .header-link {
   color: var(--dark-color-navy, #2E2F42);
   font-weight: 500;
   padding: 24px 0;
  }

 .header-link:focus,
 .header-link:hover,
 .address-link:hover,
 .address-link:focus,
 .main-button:hover,
 .main-button:focus {
   color: var(--pressedstate-color-ocean, #404BBF);
  }

 .address-menu {
   display: flex;
   padding-left: 332px;
   padding-top: 24px;
   padding-bottom: 24px;
   gap: 40px;
 }

.address-link {
   display: flex;
   color: var(--text-color-slate, #434455);
   text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

 .main-title {
   background: var(--modaloverlay-color-navybluemodal, #2E2F42);
   width: 1440px;
   height: 600px;
   box-sizing: border-box;
 }

.main-section {
   display: block;
   flex-direction: column;
}

.hero-title {
   color: var(--whitebackground-color-wtite, #FFF);
   text-align: center;
   max-width: 496px;
   height: 120px;
   font-size: 56px;
   font-weight: 700;
   line-height: 1.07;
   letter-spacing: 0.02em;
   padding-top: 188px;
   padding-left: 472px;
   padding-right: 472px;
   box-sizing: border-box;
 }

 .main-button{
   background-color: var(--primarybrand-color-iris, #4D5AE5);
   color: var(--whitebackground-color-wtite, #FFFFFF);
   font-family: inherit;
   font-weight: 500;
   line-height: 1.5;
   letter-spacing: 0.04em;
   cursor: pointer;
   text-align: center;
   min-width: 169px;
   max-height: 56px;
   border: none;
   border-radius: 4px;
   box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
   padding-top: 48px;
   padding-left: 636px;
   padding-right: 635px;
   padding-bottom: 188px;
   align-items: center;
   box-sizing: border-box;
}

 .defenders-section {
   padding: 120px 0;
 }

 .defenders-section-ul {
   display: flex;
   gap: 24px;
 }

 .defenders-section-li {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   gap: 8px;
   width: calc((100% - 72px) / 4)
 }
 
 .section-h-two {
 margin-bottom: 72px;
 }

 .section-h-three {
   margin-bottom: 8px;
 }

 .team-section {
   background-color: var(--light-color-cloud, #F4F4FD);
   width: 1440px;
   height: 732px;
   flex-shrink: 0;
   padding: 120px 0;
  }

 .team-container, 
 .portfolio-container {
  flex-direction: column; 
 }
 
 .team-section-ul{
   display: flex;
   gap:24px;
  }

 .team-section-li {
   background-color: var(--whitebackground-color-wtite, #FFFFFF);
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   width: calc((100% - 72px) / 4);
   border-radius: 0px 0px 4px 4px;
 }

 .name-prof {
   padding: 32px 0;
 }

 .team-section-h-three{
   text-align: center;
   padding-bottom: 8px;
 }

 .team-section-p {
   text-align: center;
 }

 .portfolio-section{
   padding: 120px 0;
 }
 
 .portfolio-section-ul{
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   align-items: center;
   justify-content: center;
   column-gap: 24px;
   row-gap: 48px;
 }

 .portfolio-section-li{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   width: calc((100% - 48px) / 3);
 }

 .name-app-category {
   padding: 32px 16px;
   border: 1px solid var(--accent-color-cornflower, #e7e9fc);
   border-top: none;
   align-items: flex-start;
 }
 .portfolio-section-h-three{
   margin-bottom: 8px;
 }

/*.portfolio-section-li.img:first-child {
   gap: 32px;
    }*/

 .team-section-p {
    font-size: 16px;
  }

  .footer-block {
    background-color: var(--dark-color-navy, #2E2F42);
    width: 1440px;
    height: 312px;
    flex-shrink: 0;
    padding: 100px 0;
 }

 .footer-logo {
     color: var(--primarybrand-color-iris, #4D5AE5);
     font-family: Raleway, sans-serif;
     font-size: 18px;
     font-weight: 700;
     line-height: 1.17;
     letter-spacing: 0.03em;
     text-transform: uppercase;
     display: inline-block;
     margin-bottom: 16px;
 }

 .footer-span {
     color: var(--light-color-cloud, #F4F4FD);
     font-family: Raleway, sans-serif;
     font-size: 18px;
     font-weight: 700;
     line-height: 1.17;
     letter-spacing: 0.03em;
     text-transform: uppercase;
 }

 .footer-block-p {
     color: var(--light-color-cloud, #F4F4FD);
 }

 .footer-container {
   display: flex;
   flex-direction: column;
   width: 264 px;
 }

/* .container {
    max-width: 100%;
    /*padding-left: 156px;
    padding-right: 156px;
    margin-left: 156px;
    margin-right: 156px;
 }*/

/*

 
 .defenders-section {}
 .defenders-section-h-two {}
 .defenders-section-h-three {}
 .defenders-section-li {}
 .defenders-section-p {}

 .portfolio-section {}
 .portfolio-section-h-two {}
 .portfolio-section-ul {}
 .portfolio-section-li {}
 .portfolio-section-h-three {}
 .portfolio-section-p {}
 
 .team-section-h-three {}
 */