root{
--primarybrand-color-iris:#4D5AE5;
--pressedstate-color-ocean:#404BBF;
--dark-color-navy:#2E2F42;
--success-color-green:#31D0AA;
--text-color-slate:#434455;
--subtitletext-color-ligntslate:#8E8F99;
--accent-color-cornflower:#E7E9FC;
--light-color-cloud:#F4F4FD;
--modaloverlay-color-navybluemodal:#2E2F42;
--herobackground-color-gray:#2E2F42;
--whitebackground-color-wtite:#FFFFFF;
--modalbackground-color-modal:#FCFCFC;
}

body {
    background-color: var(--whitebackground-color-wtite, #FFFFFF);
    font-family: Roboto, sans-serif;
    color: var(--text-color-slate, #434455);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.32px;
}

 address {
    font-style: normal;
 }

 .header-link:focus,
 .header-link:hover {
  color: var(--pressedstate-color-ocean, #404BBF);
 }

 a {
    text-decoration: none;
 }

 ul {
    list-style-type: none;
 }
 
 .header-logo {
    color: var(--primarybrand-color-iris, #4D5AE5);
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.54px;
    text-transform: uppercase;
 }

 .header-span {
    color: var(--dark-color-navy, #2E2F42);
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.54px;
    text-transform: uppercase;
}

 .header-link {
    color: var(--dark-color-navy, #2E2F42);
    font-weight: 500;
   }

.header-link:focus,
.header-link:hover {
    color: var(--pressedstate-color-ocean, #404BBF);
   }

.address-link:hover,
.address-link:focus {
    color: var(--pressedstate-color-ocean, #404BBF);
}

.address-link {
    color: var(--text-color-slate, #434455);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

 .main-title,
 .footer {
    background: var(--modaloverlay-color-navybluemodal, #2E2F42);
}

 .hero-title {
    color: var(--whitebackground-color-wtite, #FFF);
    text-align: center;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 1.12px;
 }

 .main-button{
    background: var(--primarybrand-color-iris, #4D5AE5);
    color: var(--whitebackground-color-wtite, #FFFFFF);
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.64px;
    cursor: pointer;
}

 .main-button:hover,
 .main-button:focus {
    background-color: var(--pressedstate-color-ocean, #404BBF);
 }

 h2 {
    color: var(--modaloverlay-color-navybluemodal, #2E2F42);
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.72px;
    text-transform: capitalize;
 }
 
 h3 {
    color: var(--modaloverlay-color-navybluemodal, #2E2F42);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;
 }
 
 .team-section {
    background-color: var(--light-color-cloud, #F4F4FD);
  }

 .team-section-li {
    background-color: var(--whitebackground-color-wtite, #FFFFFF);
 }

 .team-section-p {
    font-size: 16px;
  }

 .footer-block {
    background-color: var(--dark-color-navy, #2E2F42);
 }

 .footer-logo {
     color: var(--primarybrand-color-iris, #4D5AE5);
     font-family: Raleway, sans-serif;
     font-size: 18px;
     font-weight: 700;
     line-height: 1.17;
     letter-spacing: 0.54px;
     text-transform: uppercase;
 }

 .footer-span {
     color: var(--light-color-cloud, #F4F4FD);
     font-family: Raleway, sans-serif;
     font-size: 18px;
     font-weight: 700;
     line-height: 1.17;
     letter-spacing: 0.54px;
     text-transform: uppercase;
 }

 .footer-block-p {
     color: var(--light-color-cloud, #F4F4FD);
     line-height: 1.5;
     letter-spacing: 0.02em;
}

/*
 .header-block {}
 
 .defenders-section {}
 .defenders-section-h-two {}
 .defenders-section-h-three {}
 .defenders-section-li {}
 .defenders-section-p {}

 .portfolio-section {}
 .portfolio-section-h-two {}
 .portfolio-section-ul {}
 .portfolio-section-li {}
 .portfolio-section-h-three {}
 .portfolio-section-p {}
 
 .team-section-h-three {}
 */