root{
--primarybrand-color-iris:#4D5AE5;
--pressedstate-color-ocean:#404BBF;
--dark-color-navy:#2E2F42;
--success-color-green:#31D0AA;
--text-color-slate:#434455;
--subtitletext-color-ligntslate:#8E8F99;
--accent-color-cornflower:#E7E9FC;
--light-color-cloud:#F4F4FD;
--modaloverlay-color-navybluemodal:#2E2F42;
--herobackground-color-gray:#2E2F42;
--whitebackground-color-wtite:#FFFFFF;
--modalbackground-color-modal:#FCFCFC;
}

h1, h2, h3, h4, h5, h6, p {
   margin: 0;
   padding: 0;
}

body {
    background-color: var(--whitebackground-color-wtite, #FFFFFF);
    font-family: Roboto, sans-serif;
    color: var(--text-color-slate, #434455);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

 address {
    font-style: normal;
 }

 .header-link:focus,
 .header-link:hover {
  color: var(--pressedstate-color-ocean, #404BBF);
 }

 a {
    text-decoration: none;
    /*display: inline;*/
 }

 ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    }
 
 nav, address{
      display: flex;
    }

 nav {
   width: 470px;
 }

 .header-block {
   width: 1440px;
   height: 72px;
   flex-shrink: 0;
 }


 .container {
    display: flex;
    width: 1178px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 140px;
    margin-right: 140px;
    box-sizing: border-box;
 }
  
 .nav-menu {
   padding-left: 76px;
 }
 .nav-container {
   display: flex;
   flex-direction: row;
   width: 261px;
   gap: 40px;
   align-items: baseline;
   justify-content: flex-start;
   padding-top: 24px;
   padding-bottom: 24px;
   box-sizing: border-box;
 }

 .address-menu {
   padding-left: 332px;
 }
 .address-container {
   display: inline-flex;
   height: 72px;
   flex-direction: row;
   justify-content: flex-end;
   gap: 40px;
   align-items: baseline;
   padding-top: 24px;
   padding-bottom: 24px;
   padding-right: 0;
 }

 .header-logo {
    display: inline-flex;
    color: var(--primarybrand-color-iris, #4D5AE5);
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    align-items: baseline;
    letter-spacing: 0.03375em;
    text-transform: uppercase;
    padding-top: 24px;
    padding-bottom: 24px;


 }

 .header-span {
    color: var(--dark-color-navy, #2E2F42);
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03375em;
    text-transform: uppercase;
}

 .header-link {
    color: var(--dark-color-navy, #2E2F42);
    font-weight: 500;
   }

.header-link:focus,
.header-link:hover {
    color: var(--pressedstate-color-ocean, #404BBF);
   }

.address-link:hover,
.address-link:focus {
    color: var(--pressedstate-color-ocean, #404BBF);
}

.address-link {
    color: var(--text-color-slate, #434455);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

 .main-title {
   background: var(--modaloverlay-color-navybluemodal, #2E2F42);
   width: 1440px;
   height: 600px;
   flex-shrink: 0;
   display: flex;
   flex-direction: column;
   box-sizing: border-box;
 }
 
 .hero-title {
    color: var(--whitebackground-color-wtite, #FFF);
    text-align: center;
    width: 496px;
    height: 120px;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.07em;
    margin-top: 188px;
    margin-bottom: 292px;
    margin-left: 472px;
    margin-right: 472px;
    box-sizing: border-box;
 }

 .main-button{
    background: var(--primarybrand-color-iris, #4D5AE5);
    color: var(--whitebackground-color-wtite, #FFFFFF);
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    display: inline-flex;
    padding: 16px 32px;
    align-items: flex-start;
    gap: 10px;
    margin-top: 48px;
    margin-bottom: 188px;
    margin-left: 636px;
    margin-right: 635px;
    box-sizing: border-box;
}

 .main-button:hover,
 .main-button:focus {
    background-color: var(--pressedstate-color-ocean, #404BBF);
 }

 h2 {
    color: var(--modaloverlay-color-navybluemodal, #2E2F42);
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.045em;
    text-transform: capitalize;
 }
 
 h3 {
    color: var(--modaloverlay-color-navybluemodal, #2E2F42);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.0.25em;
 }
 
 .defenders-secondary-container {
   display: flex;
 }
 .team-section {
    background-color: var(--light-color-cloud, #F4F4FD);
    width: 1440px;
    height: 732px;
    flex-shrink: 0;
  }

 .team-section-li {
    background-color: var(--whitebackground-color-wtite, #FFFFFF);
 }

 .team-section-p {
    font-size: 16px;
  }

  .footer-block {
    background-color: var(--dark-color-navy, #2E2F42);
    width: 1440px;
    height: 312px;
    flex-shrink: 0;
 }

 .footer-logo {
     color: var(--primarybrand-color-iris, #4D5AE5);
     font-family: Raleway, sans-serif;
     font-size: 18px;
     font-weight: 700;
     line-height: 1.17;
     letter-spacing: 0.03375em;
     text-transform: uppercase;
 }

 .footer-span {
     color: var(--light-color-cloud, #F4F4FD);
     font-family: Raleway, sans-serif;
     font-size: 18px;
     font-weight: 700;
     line-height: 1.17;
     letter-spacing: 0.03375em;
     text-transform: uppercase;
 }

 .footer-block-p {
     color: var(--light-color-cloud, #F4F4FD);
 }

/* .container {
    max-width: 100%;
    /*padding-left: 156px;
    padding-right: 156px;
    margin-left: 156px;
    margin-right: 156px;
 }*/

/*

 
 .defenders-section {}
 .defenders-section-h-two {}
 .defenders-section-h-three {}
 .defenders-section-li {}
 .defenders-section-p {}

 .portfolio-section {}
 .portfolio-section-h-two {}
 .portfolio-section-ul {}
 .portfolio-section-li {}
 .portfolio-section-h-three {}
 .portfolio-section-p {}
 
 .team-section-h-three {}
 */